
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#AppContent{
  display:flex;
  flex-direction: column;
  margin: 10px;
}
#AppContent h1{
  margin: 0 5px;
}

#AppFooter{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#Logo svg{
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  #App-Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
